<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="Stylesheet/aboutUs.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav_tabs">
          <li><a href="/">Home</a></li>
          <li><a href="/aboutUs">About</a></li>
          <li><a href="/sponsor">Sponsor</a></li>
          <li><a href="/register">Register</a></li>
        </div>
      </nav>

      <div class="nav_image">
        <img src="Assets/Images/nav-img.png" alt="" />
      </div>
    </header>

    <main>
      <section class="heading">
        <div class="main-heading">
          <h1>About Us</h1>
          <p>A bunch of Cool Kids</p>
        </div>
        <div class="main-img">
          <img src="Assets/Images/Mask group.png" alt="" />
        </div>
      </section>
      <section class="img-container2">
        <img src="Assets/Images/IMG-20230429-WA0207(2) 1.png" alt="" />
      </section>

      <section class="section-three">
        <div class="section-three-img">
          <img
            src="Assets/Images/image-382a500c-2bda-49d5-a446-5922976bb6ac.png.png"
            alt=""
          />
        </div>
        <div class="section-three-content">
          <h1 class="sec3-headings">Hi!</h1>
          <p class="maggies">
            We are the Magazine Board of the Army Institute of Technology, Pune.
            (A.k.a. "Magboard". Loved ones call us "the Maggies" XD.) <br />
            Our alpha-job is to create the annual magazine of AIT- "Srijna" and
            conduct "ReVerse", our annual poetry slam. We also release monthlies
            highlighting college activities and a yearly "Glimpses" to throw
            light on the achievements of our college's administration, faculty,
            alumni and students.
          </p>
          <h2 class="sec3-headings">Our current secretaries -</h2>
          <p>
            <b>Shristy Thakur</b> and <b>Shivam Kumar</b>, have been leading the
            way for the club constituted by a bunch of fools who dare to dream.
            <br />
            We are a creative lot and we love what we do.
          </p>
        </div>
      </section>

      <section class="section-four">
        <div class="sec4-content">
          <p>
            Picture this: You, us, and a whole lot of awesome waiting to happen.
            And hey, we've got a little secret to share too
          </p>
        </div>
        <div class="sec4-img">
          <img src="Assets/Images/Group 67488.png" alt="" />
        </div>
        <div>
          <img
            class="sec4-flower"
            src="Assets/Images/image-382a500c-2bda-49d5-a446-5922976bb6ac.png.png"
            alt=""
          />
        </div>
      </section>

      <section class="section-five">
        <div>
          <h1>Memories From Reverse 6.0</h1>
        </div>
        <div class="img-container">
          <img src="/Assets/Images/IMG-20230429-WA0207(2) 2.png" alt="" />
          <img src="/Assets/Images/IMG-20230429-WA0207(2) 3.png" alt="" />
          <img src="/Assets/Images/IMG-20230429-WA0207(2) 4.png" alt="" />
        </div>
        <div>
          <p>Moments captured in pixels, memories etched in time; each photo whispers stories of the past, echoing in the present.</p>
        </div>
      </section>
    </main>

    <footer>
      <div class="register-now">
        <div>
          <h1>Register Now!!!</h1>
          <p>Time to asnwer all the recent "How're you"s honestly</p>
        </div>
        <div>
          <img src="/Assets/Images/Group 67435.png" alt="" width="87px" />
        </div>
      </div>

      <div class="form">
        <h1>Form(Register)</h1>
        <img src="/Assets/Images/Arrow 3 (Stroke).png" alt="" />
      </div>

      <div class="contacts">
        <h1>Shristy: +91 XXXX XXXX</h1>
        <h1>Shivam: +91 XXXX XXXX</h1>
        <p>📍 Army Institute of Technology, Alandi Road, Dighi, Pune 411015</p>
      </div>

      <div class="made-with">Made with love by Magboard</div>
    </footer>
  </body>
</html>
