<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReVerse</title>
    <link rel="stylesheet" href="Stylesheet/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav_tabs">
          <li><a href="/">Home</a></li>
          <li><a href="/aboutUs">About</a></li>
          <li><a href="/sponsor">Sponsor</a></li>
          <li><a href="/register">Register</a></li>
        </div>
      </nav>

      <div class="nav_image">
        <img src="Assets/Images/nav-img.png" alt="" />
      </div>
    </header>

    <main>
      <div class="main-heading">
        <h1>ReVerse 7.0</h1>
        <p>Prizes Worth 20k+</p>
      </div>

      <div class="slam">
        <h1>Pune's Biggest</h1>
        <p>Slam Poetry</p>
        <h1>Event</h1>
      </div>

      <div class="main-img">
        <img src="Assets/Images/reverse_ 1.png" alt="" />
      </div>

      <section class="section-one">
        <h1>About Re-Verse</h1>
        <p>
          In the heart of Pune, lies an incubator for poetry- a sacred space
          where truth is witnessed in its absolute form.
          <br /><br />
          ReVerse is a poetry slam, annually organised by the Magazine Board of
          the Army Institute of Technology, Pune. First conducted in 2015, it
          was held 5 times before the lockdown, once after it, and has got
          another edition coming up April, 2024.
          <br /><br />
          ReVerse has witnessed several awe-inspiring, mountain-moving,
          spine-chilling, hair-raising and life-changing performances.
          <br /><br />
          <h2>Here are a few crowd favorites:</h2>
        </p>
        <img src="Assets/Images/image-382a500c-2bda-49d5-a446-5922976bb6ac.png.png" alt="">
      </section>

      <section class="section-two">
        <img src="Assets/Images/IMG-20230429-WA0207(2) 2.png" alt="" />
        <img src="Assets/Images/IMG-20230429-WA0207(2) 3.png" alt="" />
        <img src="Assets/Images/IMG-20230429-WA0207(2) 4.png" alt="" />
      </section>

      <section class="section-three">
        <h1>Why participate-</h1>
        <p>To write poetry is to find meaning, find reasons. And only to speak up is to take the smallest action. What lies on sheets of paper appeals, but only what is said out loud, can make a change. For the days we spend are only counted by what we leave behind, we must strive to etch our voice in the stone of passing time.
          <br><br>
          What better way there is to make a difference in people's lives and change the world for the better, piece by piece, than by contributing a verse at ReVerse 7.0?
          <br><br>
          ALSO, GOODIES ?!?
          </p>
          <img src="Assets/Images/image-382a500c-2bda-49d5-a446-5922976bb6ac.png.png" alt="">
      </section>

      <div class="quote">
        <h1>The world needs your voice. Find your courage and start speaking up.</h1>
        <p>(Malala Yousafzai)</p>
        <img class="star1" src="Assets/Images/Vector 4840.png" alt="">
        <img class="star2" src="Assets/Images/Vector 4840.png" alt="">
      </div>

      <div class="participation">
        <h2 class="participation_h">
          Perks of participation -
        </h2>
        <p class="participation_p">
          
          <span>*Share their experiences to enlighten and inspire</span>
          <span>*Speak out their opinions to an accepting audience</span>
          <span>*Socialise with the poetry community of pune</span>
          <span>*Develop new perspectives; broaden their horizons</span>
          <span>*Goodiessss</span>
          <span> *Moneyyyyy</span>

        </p>
      </div>

      <div class="prizze">
        <img class="prizze_img" src="Assets/Images/image-382a500c-2bda-49d5-a446-5922976bb6ac.png.png" alt="">
        <h2 class="prizze_h">PrizeessprizessssssprizesssssssssssssprizessssssssssssssssssssssssPrizeessprizessssssprizesssssssssssssprizessssssssssssssssssssssss</h2>

      </div>

      <div class="prizes">
        <p class="prizes_p">
          <ul class="prizes_ul">
            <li class="prizes_li">
              1st prize- SLAM-MASTER: the one who leaves an ever-fixèd mark
            </li>
            <li class="prizes_li">
              2nd prize- A strong calling from the lesser travelled road
            </li>
            <li class="prizes_li" >
              3rd prize- Hark! There's another who can move mountains
            </li>
          </ul>
        </p>

        <img class="prizes_img" src="Assets/Images/Group 67490.png" alt="">
        
      </div>
   <div class="brochure">
     <div class="cursive">
       <h2>Moreeee INFORMATION HERE</h2>
       <img src="Assets/Images/Arrow 4.png" alt="">
      </div>
       <a href="/Brochure.pdf" download  style="color: black; text-decoration: none"><div class="bigButton">
        <h2>Download Brochure</h2>
        <i class="fa-solid fa-arrow-right"></i>
      </div>   </a>
    </div>

    <div class="calendar">
      <img src="Assets/Images/Group 67491.png" alt="">
      <h2>13th April mark your calenders </h2>
    </div>


    <footer>
      <div class="register-now">
        <div>
          <h1>Register Now!!!</h1>
          <p>Time to asnwer all the recent "How're you"s honestly</p>
        </div>
        <div>
          <img src="/Assets/Images/Group 67435.png" alt="" width="87px" />
        </div>
      </div>

      <a href="/register"   style="color: black; text-decoration: none"><div class="form">
        <h1>Form(Register)</h1>
        <img src="Assets/Images/Arrow 3 (Stroke).png" alt="" />
      </div></a>
      <div class="contacts">
        <h1>Shristy: +91 9368520229</h1>
        <h1>Shivam: +91 8130140376</h1>
        <p>📍 Army Institute of Technology, Alandi Road, Dighi, Pune 411015</p>
      </div>

      <div class="made-with">Made with love by Magboard</div>
    </footer>
    </main>
  </body>
</html>
