<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sponsor Us</title>
    <link rel="stylesheet" href="Stylesheet/sponsorUs.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav_tabs">
          <li><a href="/">Home</a></li>
          <li><a href="/aboutUs">About </a></li>
          <li><a href="/sponsor">Sponsor</a></li>
          <li><a href="/register">Register</a></li>
        </div>
      </nav>

      <div class="nav_image">
        <img src="Assets/Images/nav-img.png" alt="" />
      </div>
    </header>

    <main>
      <section class="heading">
        <div class="main-heading">
          <h1>Sponsor Us</h1>
          <p>
            U can help us make it <br />
            moore fun and <br />exciting
          </p>
        </div>
        <div class="main-img">
          <img
            src="Assets/Images/8851c4758c7c4b32e402898d545100bc 1.png"
            alt=""
          />
        </div>
      </section>

      <div class="heading-img">
        <img
          src="Assets/Images/image-382a500c-2bda-49d5-a446-5922976bb6ac.png.png"
          alt=""
        />
      </div>

      <section class="our-reach">
        <h1>Our Reach</h1>
        <p>
          Experience the power of words with the opening of ReVerse 7.0
          registrations. With an <br />impressive count of 250+ registrations in
          ReVerse 5.0 and 100+ registrations in ReVerse <br />6.0 (post-covid
          edition) in the past, we now present to you another edition of Pune’s
          <br />largest poetry slam event. <br />
          Carrying forward our legacy with an electrifying showcase of words and
          emotions, one <br />verse at a time.
        </p>
      </section>

      <section class="section-two">
        <img src="Assets/Images/Grid.png" alt="" />
        <p class="reg">200+ Registrations in Reverse 6.0</p>
        <p class="footfall">400+ footfall expected</p>
        <p class="followers">2k+ Insta Followers</p>
        <p class="impr">10K+ Facebook Impressions</p>
        
      </section>

      <section class="section-three">
        <h1>Why Sponsor Us:</h1>
        <li>
          Extend your reach to the poetry community of Pune by promoting your
          brand.
        </li>
        <li>Have your name included in the public posts & promotions.</li>
        <li>
          Keep a stall within the premises for all the participants, club
          members, college students and faculty.
        </li>
        <li>
          Be a part of the process of gathering the greatest talent in Pune
          under a single roof.
        </li>
        <li>
          Support a slam poetry event can provide a targeted marketing
          opportunity to reach a specific audience segment.
        </li>
        <li>
          Demonstrate your company's commitment to supporting the arts and
          community initiatives.
        </li>
        <li>
          Gather press coverage in local newspapers, online publications, and
          social media platforms.
        </li>
      </section>

      <section class="section-four">
        <div class="sec-4-content">
          <h1 class="info">More Information Here</h1>
          <img class="arrow" src="Assets/Images/Arrow 4.png" alt="" />
          <div class="download-brochure">
            <h2>Download Sponsor Ship Brochure</h2>
            <img src="Assets/Images/Vector.png" alt="" />
          </div>
        </div>
        <div class="sec-4-img">
          <img src="Assets/Images/nav-img.png" alt="" />
        </div>
      </section>

      <section class="section-five">
        <div class="sec-5-img">
          <img src="Assets/Images/Group 67489.png" alt="" />
        </div>
        <div class="sec-5-content">
          <h1>Sponsorship Tiers</h1>
          <h2>Basic Sponsor: Rs. 10,000</h2>
          <h2>Silver Sponsor: Rs. 20,000</h2>
          <h2>Title Sponsor: Rs. 30,000</h2>
          <p>
            Join us in celebrating the power of words and the beauty of
            expression by sponsoring our upcoming poetry slam event.
          </p>
          <img
            src="Assets/Images/bf988ec34d978991fe9098a0e0bb2ed9 1.png"
            alt=""
            width="100%"
          />
        </div>
        <img
          class="absolute-img"
          src="Assets/Images/image-382a500c-2bda-49d5-a446-5922976bb6ac.png.png"
          alt=""
        />
      </section>
    </main>
    <footer>
      <div class="register-now">
        <div>
          <h1>Register Now!!!</h1>
          <p>Time to asnwer all the recent "How're you"s honestly</p>
        </div>
        <div>
          <img src="Assets/Images/Group 67435.png" alt="" width="87px" />
        </div>
      </div>

      <div class="form">
        <h1>Form(Register)</h1>
        <img src="Assets/Images/Arrow 3 (Stroke).png" alt="" />
      </div>

      <div class="contacts">
        <h1>Shristy: +91 XXXX XXXX</h1>
        <h1>Shivam: +91 XXXX XXXX</h1>
        <p>📍 Army Institute of Technology, Alandi Road, Dighi, Pune 411015</p>
      </div>

      <div class="made-with">Made with love by Magboard</div>
    </footer>
  </body>
</html>
