<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <!-- Add any necessary styles here -->
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      text-align: center;
    }
    .success-image {
      max-width: 100%;
      max-height: 100%;
    }

  </style>
</head>
<body>
  <div>
    <h1>YOU ARE ALMOST DONE SCAN THE QR AND MAKE PYAMENT WE WILL SEND YOU THE VERIFICATION EMAIL WITHIN 1 DAY  </h1>
    <img src="QR.png" alt="Success" class="success-image">
  </div>
</body>
</html>
