<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <!-- Add any necessary styles here -->
  <style>
    body {
      background-color: black;
      display: flex;
      padding: 5vw 3vw ;
      text-align: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      margin: 0;
      color: white;
    }

    a{
      text-decoration: none;
    }
    img{
      width: 30vw;
    }
    .top{
      font-size: 1.5em;
    }
    @media screen and (max-width:800px) {
      img{
        width: 80vw;
      }
      
    }
    button{
      padding: 10px 30px ;
      margin-top: 20px;
      border-radius: 100px;
    }
    .acknowledge{
      font-size: 1.2em;
    }

  </style>
</head>
<body>
  <div class="text">
    <p class="top">Here speech is free, but the snacks aren't xd</p>
    <p class="bottom">Scan to pay the registration fee- Rs. 99/-</p>
  </div>
  <div class="image">
    <img src="QR.jpg" alt="Success" class="success-image">
  </div>
  <p class="acknowledge">I acknowledge that I have paid my registration fees on the above QR and my registration will only be confirmed after payment is verified.</p>
  <div class="done">
    <button onclick= "goto(this)">CONFIRM</button>
  </div>
  <script>
      function goto(link){
      alert("We will reach out to you soon to confirm your registration through provided email!");
    } 
  </script>
</body>
</html>
