@font-face {
    font-family: AmericanGaramound;
    src: url(/Stylesheet/Fonts/AmericanGaramound/American\ Garamond\ Bold\ Italic.otf);
  }
  @font-face {
    font-family: CatholicSchoolGirlBB;
    src: url(/Stylesheet/Fonts/catholic_school_gir/CATHSGBR.TTF);
  }
  @font-face {
    font-family: BrettleySignature;
    src: url(/Stylesheet/Fonts/Brettley-Signature-DEMO-BF63d7cff930ddd.ttf);
  }
  @font-face {
    font-family: AdobeCalsonPro-Regular;
    src: url(/Stylesheet/Fonts/ACalsonPro/ACaslonPro-Regular.otf);
  }
  @font-face {
    font-family: AdobeCalsonPro-SemiBold;
    src: url(/Stylesheet/Fonts/ACalsonPro/ACaslonPro-Semibold.otf);
  }
  @font-face {
    font-family: AdobeCalsonPro-Bold;
    src: url(/Stylesheet/Fonts/ACalsonPro/ACaslonPro-Bold.otf);
  }
  @font-face {
    font-family: Dutch766;
    src: url(/Stylesheet/Fonts/dutch766-bt-bold-font/dutch-766-bold-bt.ttf);
  }
  @font-face {
    font-family: Kontora-Extravold;
    src: url(Fonts/kontora-extrabold.otf);
  }
  @font-face {
    font-family: KingCaslon;
    src: url(/Stylesheet/Fonts/KingsCaslonDisplay_Trial_It.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border;
}

nav {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    position: relative;
}

.nav_tabs {
    margin-top: 4rem;
    display: flex;
    font-family: AmericanGaramound;
}
.nav_tabs li {
    list-style-type: none;
    margin-right: 3rem;
}

.nav_tabs li a{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    color: black;
}

.nav_tabs li a:hover {
    background-color: black;
    color: white;
}

.nav_image {
    position: absolute;
    top: 0;
    right: 0;
}

.heading {
    width: 70vw;
    margin: 2rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.heading .main-heading h1 {
    font-family: AmericanGaramound;
    text-decoration: underline;
    font-size: 5rem;
}

.heading .main-heading p {
    font-family: CatholicSchoolGirlBB;
    font-size: 2.25rem;
}

.heading .main-img img{
  width: 100%;
}

.img-container2 {
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    
}

.img-container2 img{
    width: 70vw;
}

.section-three {
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-three .section-three-content {
    transform: translateY(-4rem);
    padding-left: 7rem;
}
.section-three .sec3-headings {
    font-family: BrettleySignature;
}
.section-three .section-three-content h1 {
    font-weight: 500;
    font-size: 6rem;
}
.section-three .section-three-content h2 {
    font-weight: 300;
    margin: 2rem 0 1rem 0;
    font-size: 4rem;
}
.section-three .section-three-content p {
    font-family: AdobeCalsonPro-Regular;
    font-size: 1.625rem;
}

.section-four {
    width: 70vw;
    margin: 2rem 0 3rem 23rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-four .sec4-content {
    width: 200px;
    font-size: 32px;
    font-family: AdobeCalsonPro-SemiBold;
    line-height: 96%;
}

.section-four .sec4-img img{
  width: 100%;
    margin: 0 5rem;
}

.section-four .sec4-flower {
    transform: rotate(180deg);
    transform: rotateY(180deg);
}

.section-five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 4rem;
}

.section-five p{
    width: 60vw;
    margin: auto;
    color: #000;
    font-size: 2rem;
    font-family: AdobeCalsonPro-Regular;
}

.section-five .img-container {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}
.section-five .img-container img{
  width: 50%;
}
.section-five .img-container img:nth-child(odd){
  width: 20%;
}

.section-five h1{
    margin-left: 20vw;
    font-family: CatholicSchoolGirlBB;
    font-size: 3rem;
}

footer {
    z-index: 1;
    background: #000;
    /* height: 90vh; */
    width: 100vw;
    color: white;
    padding-top: 1rem;
  }
  
  footer .register-now{
    display: flex;
    width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
  
  footer .register-now h1{
    font-size: 2.5rem;
    font-family: AdobeCalsonPro-Bold;
  }
  footer .register-now p{
    font-family: KingCaslon;
    font-size: 2rem;
  }
  
  footer .form{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    width: 58vw;
    background: white;
    color: black;
    margin: auto;
    margin-top: 2rem;
    border-radius: 0 130px 130px 0;
    font-size: 16px;
    font-family: AdobeCalsonPro-Regular;
  }
  footer .contacts{
    font-size: 0.875rem;
    font-family: AdobeCalsonPro-SemiBold;
    font-weight: 300;
    margin-left: 20vw;
    margin-top: 3rem;
    width: 25vw;
  }
  
  footer .contacts p{
    text-decoration: underline;
    margin-top: 4rem;
    font-size: 2rem;
    font-family: AdobeCalsonPro-SemiBold;
  }
  
  footer .made-with {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60vw;
    margin: auto;
    font-size: 2rem;
    font-family: AdobeCalsonPro-Regular;
  }
@media screen and (max-width:960px) {
  nav {
    position: fixed;
    bottom: 1rem;
    width: 100vw;
  }
  nav .nav_tabs {
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px 20px;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    background: #000;
  }
  nav .nav_tabs li a {
    padding: 5px 10px;
    border: none;
    color: white;
  }
  .nav_tabs li {
    margin-right: 1.8rem;
  }
  .nav_image {
    display: none;
  }
  .heading .main-heading h1{
    font-size: 3rem;
    margin-left: 0;
  }
  .heading .main-heading p {
    transform: translateY(20px);
    margin-left: 0;
    font-size: 1rem;
  }
  .section-three .section-three-img img{
    display: none;
  }
  .section-three .section-three-content{
    margin-left: 2rem;
  }
  .section-four {
    margin-left: 4rem;
  }
  .section-four .sec4-img img {
    width: 100%;
    margin: 0 10%;
  }
  .section-four .sec4-flower{
    display: none;
  }
  .section-four .sec4-content p{
    font-size: 1rem;
  }
  .section-five h1{
    font-size: 2rem;
  }
  .section-five p{
    font-size: 1rem;
  }

  footer {
    width: 100vw;
  }
  footer .register-now {
    width: 90vw;
  }
  footer .register-now h1 {
    font-size: 1.5rem;
  }
  footer .register-now p {
    font-size: 1.5rem;
  }
  footer .form {
    width: 85vw;
  }
  footer .form h1 {
    font-size: 1.5rem;
  }
  footer .form img {
    width: 50px;
  }
  footer .contacts {
    width: 90vw;
    margin: 0 5vw;
    margin-top: 1rem;
  }
  footer .contacts h1 {
    font-size: 1.5rem;
  }
  footer .contacts p {
    font-size: 1.5rem;
  }
  footer .made-with {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:460px) {
  nav .nav_tabs {
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px 20px;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    background: black;
  }
  .section-three .section-three-content {
    margin-left: -1rem;
    transform: translateY(-10px);
  }
  .section-three .section-three-content h1{
    font-size: 2.5rem;
  }
  .section-three .section-three-content p{
    font-size: 1rem;
  }
  .section-three .section-three-content h2 {
    font-size: 2rem;
  }
  .section-four .sec4-img img {
    width: 80%;
    margin: 0 10%;
  }
  .section-four .sec4-content{
    line-height: 50%;
  }
  .section-five h1 {
    font-size: 1.5rem;
}

  footer {
    width: 100vw;
  }
  footer .register-now {
    width: 90vw;
  }
  footer .register-now h1 {
    font-size: 1rem;
  }
  footer .register-now p {
    font-size: 1rem;
  }
  footer .form {
    width: 85vw;
  }
  footer .form h1 {
    font-size: 1rem;
  }
  footer .form img {
    width: 50px;
  }
  footer .contacts {
    width: 90vw;
    margin: 0 5vw;
    margin-top: 1rem;
  }
  footer .contacts h1 {
    font-size: 1rem;
  }
  footer .contacts p {
    font-size: 1rem;
  }
  footer .made-with {
    font-size: 1rem;
  }
}